In [3]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
import sys
import os
#sys.path.insert(0, os.path.abspath('../denari'))

from denari import tributum as tax
import plotly.graph_objects as go

ImportError: cannot import name 'tributum' from 'denari' (c:\Users\fkarim\AppData\Local\Programs\Python\Python311\Lib\site-packages\denari\__init__.py)

In [5]:
#dir(tax)

In [4]:
t = 40000
e = 3000
y = '2021/2022'
tc = '1257A'

In [5]:
%%time
a = tax.iterate_lite_full_take(t,e,y,tc)

Wall time: 35.6 s

In [6]:
a

,Salary,Employee National Insurance,Income Tax,Employer National Insurance,Student Loans,Salary Takehome,Total Employee Cost,Usable Funds,Corporation Tax,Dividend,Dividend Tax,Dividend Takehome,Gross Take,Total Takehome,Percentage Take
375,12568,360.0,0.0,514.464,0.0,12208.0,13082.464,37000,4544.33184,19373.20416,1302.990312,18070.213848,31941.20416,30278.213848,75.695535

In [7]:
%%time
b = tax.iterate_lite_full_take(t,e,y,tc,optimal=False)

Wall time: 35.3 s

In [8]:
b

,Salary,Employee National Insurance,Income Tax,Employer National Insurance,Student Loans,Salary Takehome,Total Employee Cost,Usable Funds,Corporation Tax,Dividend,Dividend Tax,Dividend Takehome,Gross Take,Total Takehome,Percentage Take
0,0,0.00,0.0,0.000,0.0,0.00,0.000,37000,7030.00000,29970.00000,1305.000000,28665.000000,29970.00000,28665.000000,71.662500
1,257,0.00,0.0,0.000,0.0,257.00,257.000,37000,6981.17000,29761.83000,1308.662250,28453.167750,30018.83000,28710.167750,71.775419
2,514,0.00,0.0,0.000,0.0,514.00,514.000,37000,6932.34000,29553.66000,1312.324500,28241.335500,30067.66000,28755.335500,71.888339
3,771,0.00,0.0,0.000,0.0,771.00,771.000,37000,6883.51000,29345.49000,1315.986750,28029.503250,30116.49000,28800.503250,72.001258
4,1028,0.00,0.0,0.000,0.0,1028.00,1028.000,37000,6834.68000,29137.32000,1319.649000,27817.671000,30165.32000,28845.671000,72.114177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651,12845,393.24,55.0,552.690,0.0,12396.76,13397.690,37000,4484.43890,19117.87110,1283.840332,17834.030768,31962.87110,30230.030768,75.575077
652,12846,393.36,55.2,552.828,0.0,12397.44,13398.828,37000,4484.22268,19116.94932,1283.771199,17833.178121,31962.94932,30230.178121,75.575445
653,12847,393.48,55.4,552.966,0.0,12398.12,13399.966,37000,4484.00646,19116.02754,1283.702065,17832.325474,31963.02754,30230.325474,75.575814
654,12848,393.60,55.6,553.104,0.0,12398.80,13401.104,37000,4483.79024,19115.10576,1283.632932,17831.472828,31963.10576,30229.472828,75.573682
655,12849,393.72,55.8,553.242,0.0,12399.48,13402.242,37000,4483.57402,19114.18398,1283.563799,17830.620182,31963.18398,30229.620182,75.574050

In [9]:
t = t
e = e
y = y
tc = tc

funds = t - e
salary_test = 1000

In [10]:
%%time
c = tax.ltd_full_take(t,salary_test,e,y,tc)

Wall time: 62.1 ms

In [11]:
c

,Salary,Employee National Insurance,Income Tax,Employer National Insurance,Student Loans,Salary Takehome,Total Employee Cost,Usable Funds,Corporation Tax,Dividend,Dividend Tax,Dividend Takehome,Gross Take,Total Takehome,Percentage Take
0,1000,0.0,0.0,0.0,0.0,1000.0,1000.0,37000,6840.0,29160.0,1319.25,27840.75,30160.0,28840.75,72.101875