In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import sys
import os
sys.path.insert(0, os.path.abspath('../denari'))

from denari import TaxTools as tax
import plotly.graph_objects as go

['TaxTools', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'dt', 'go', 'np', 'os', 'pd']

In [4]:
dir(tax)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'adjust_allowance',
 'adjust_ni_band',
 'corporate_ni',
 'corporation_tax',
 'create_dividend_table',
 'create_student_loan_table',
 'create_table',
 'dividend_tax',
 'employee_ni',
 'get_law',
 'income_tax',
 'interpret_single_df_value',
 'interpret_tax_code_allowance',
 'interpret_tax_code_ni_band',
 'iterate_full_take',
 'iterate_lite_full_take',
 'iterate_salaries',
 'ltd_full_take',
 'marginal',
 'marginalise',
 'optimal_iterations',
 'optimal_take',
 'replace_threshold_rates',
 'salary_taxes',
 'student_loans',
 'tax_year']

In [5]:
t = 40000
e = 3000
y = '2021/2022'
tc = '1257A'

In [6]:
%%time
a = tax.iterate_lite_full_take(t,e,y,tc)

AttributeError: type object 'TaxTools' has no attribute 'ltd_owner_full_take'

In [52]:
a

,Salary,Employee National Insurance,Income Tax,Employer National Insurance,Student Loans,Salary Takehome,Total Employee Cost,Usable Funds,Corporation Tax,Dividend,Dividend Tax,Dividend Takehome,Gross Take,Total Takehome,Percentage Take
236,12572,360.48,0.4,515.016,0.0,12211.12,13087.016,37000,4641.32,19786.68,1334.001,18452.679,32358.68,30663.679,76.659198

In [53]:
%%time
b = tax.iterate_lite_full_take(t,e,y,tc,optimal=False)

Wall time: 30.3 s

In [54]:
b

,Salary,Employee National Insurance,Income Tax,Employer National Insurance,Student Loans,Salary Takehome,Total Employee Cost,Usable Funds,Corporation Tax,Dividend,Dividend Tax,Dividend Takehome,Gross Take,Total Takehome,Percentage Take
0,12336,332.16,0.0,482.448,0.0,12003.84,12818.448,37000,4686.16,19977.84,1348.33800,18629.50200,32313.84,30632.50200,76.581255
1,12337,332.28,0.0,482.586,0.0,12004.72,12819.586,37000,4685.97,19977.03,1348.27725,18628.75275,32314.03,30632.75275,76.581882
2,12338,332.40,0.0,482.724,0.0,12005.60,12820.724,37000,4685.78,19976.22,1348.21650,18628.00350,32314.22,30633.00350,76.582509
3,12339,332.52,0.0,482.862,0.0,12006.48,12821.862,37000,4685.59,19975.41,1348.15575,18627.25425,32314.41,30633.25425,76.583136
4,12340,332.64,0.0,483.000,0.0,12007.36,12823.000,37000,4685.40,19974.60,1348.09500,18626.50500,32314.60,30633.50500,76.583762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,12846,393.36,55.2,552.828,0.0,12397.44,13398.828,37000,4589.26,19564.74,1317.35550,18247.38450,32410.74,30644.38450,76.610961
511,12847,393.48,55.4,552.966,0.0,12398.12,13399.966,37000,4589.07,19563.93,1317.29475,18246.63525,32410.93,30644.63525,76.611588
512,12848,393.60,55.6,553.104,0.0,12398.80,13401.104,37000,4588.88,19563.12,1317.23400,18245.88600,32411.12,30643.88600,76.609715
513,12849,393.72,55.8,553.242,0.0,12399.48,13402.242,37000,4588.69,19562.31,1317.17325,18245.13675,32411.31,30644.13675,76.610342
514,12850,393.84,56.0,553.380,0.0,12400.16,13403.380,37000,4588.50,19561.50,1317.11250,18244.38750,32411.50,30644.38750,76.610969

In [72]:
t = t
e = e
y = y
tc = tc

funds = t - e
salary_test = 1000

In [73]:
%%time
c = tax.ltd_full_take(t,salary_test,e,y,tc)

Wall time: 48 ms

In [74]:
c

,Salary,Employee National Insurance,Income Tax,Employer National Insurance,Student Loans,Salary Takehome,Total Employee Cost,Usable Funds,Corporation Tax,Dividend,Dividend Tax,Dividend Takehome,Gross Take,Total Takehome,Percentage Take
0,1000,0.0,0.0,0.0,0.0,1000.0,1000.0,37000,6840.0,29160.0,1319.25,27840.75,30160.0,28840.75,72.101875